{% extends 'layouts/frontend.html' %}

{% load static %}

{% block content %}

   <main class="main checkout">
                <div class="page-content pt-8 pb-10 mb-4">
                    <div class="step-by pr-4 pl-4">
                        <h3 class="title title-step"><a href="cart.html">1. Shopping Cart</a></h3>
                        <h3 class="title title-step active"><a href="checkout.html">2. Checkout</a></h3>
                        <h3 class="title title-step"><a href="order.html">3. Order Complete</a></h3>
                    </div>
                    <div class="container mt-7">
                        <form action="#" class="form">
                            <div class="row">
                                <div class="col-lg-7 mb-6 mb-lg-0 check-detail">
                                    <h3 class="title text-left mt-3 mb-6">Billing Details</h3>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>First Name*</label>
                                            <input type="text" class="form-control" name="first-name" required />
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Last Name*</label>
                                            <input type="text" class="form-control" name="last-name" required />
                                        </div>
                                    </div>
                                    <label>Company Name (optional)</label>
                                    <input type="text" class="form-control" name="company-name" />
                                    <label>Country / Region*</label>
                                    <div class="select-box">
                                        <select name="country" class="form-control">
                                            <option value="us" selected>United States (US)</option>
                                            <option value="uk"> United Kingdom</option>
                                            <option value="fr">France</option>
                                            <option value="aus">Austria</option>
                                        </select>
                                    </div>
                                    <label>Street Address</label>
                                    <input type="text" class="form-control" name="address1" required placeholder="House number and street name" />
                                    <input type="text" class="form-control" name="address2" required placeholder="Apartment, suite, unit, etc. (optional)" />
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>Town / City</label>
                                            <input type="text" class="form-control" name="city" required />
                                        </div>
                                        <div class="col-xs-6">
                                            <label>State / Country*</label>
                                            <input type="text" class="form-control" name="state" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>Postcode / ZIP*</label>
                                            <input type="text" class="form-control" name="zip" required />
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Phone*</label>
                                            <input type="text" class="form-control" name="phone" required />
                                        </div>
                                    </div>
                                    <label>Email Address*</label>
                                    <input type="text" class="form-control" name="email-address" required />
                                    <div class="form-checkbox">
                                        <input type="checkbox" class="custom-checkbox" id="create-account" name="create-account" />
                                        <label class="form-control-label" for="create-account">Create an account?</label>
                                    </div>
                                    <div class="form-checkbox mb-10">
                                        <input type="checkbox" class="custom-checkbox" id="different-address" name="different-address" />
                                        <label class="form-control-label ls-s" for="different-address">Ship to a different address?</label>
                                    </div>
                                    <h2 class="title pt-2 mb-6">Additional Information</h2>
                                    <label>Order Notes (optional)</label>
                                    <textarea class="form-control mb-0" cols="30" rows="5" placeholder="Write Your Review Here..."></textarea>
                                </div>
                                <aside class="col-lg-5 sticky-sidebar-wrapper pl-lg-6">
                                    <div class="sticky-sidebar" data-sticky-options="{'bottom': 50}">
                                        <div class="summary pt-5">
                                            <h3 class="title">Your Order</h3>
                                            <table class="order-sidebar">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="product-name">Vegatable<span class="product-quantity">×&nbsp;1</span></td>
                                                        <td class="product-total text-body">$110.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="product-name">Fruit<span class="product-quantity">×&nbsp;1</span></td>
                                                        <td class="product-total text-body">$180.00</td>
                                                    </tr>
                                                    
                                                    <tr class="summary-total">
                                                        <td>
                                                            <h4 class="summary-subtitle">Total</h4>
                                                        </td>
                                                        <td>
                                                            <p class="summary-total-price ls-s">$290.00</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="payment accordion radio-type pb-5">
                                                <h4 class="summary-subtitle ls-m pb-3">Payment Methods</h4>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a href="#collapse1" class="collapse">Check payments </a>
                                                    </div>
                                                    <div id="collapse1" class="expanded" style="display: block;">
                                                        <div class="card-body">
                                                            Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a href="#collapse2" class="expand">Cash on delivery</a>
                                                    </div>
                                                    <div id="collapse2" class="collapsed">
                                                        <div class="card-body">
                                                            Pay with cash upon delivery.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-dim btn-block mt-6">Place Order</button>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </form>
                    </div>
                </div>
        </main>

{% endblock content %}