{% extends 'layouts/frontend.html' %}

{% load static %}

{% block content %}

   <main class="main checkout">
                <div class="page-content pt-8 pb-10 mb-4">
                    <div class="step-by pr-4 pl-4">
                        <h3 class="title title-step"><a href="{% url 'cart' %}">1. Shopping Cart</a></h3>
                        <h3 class="title title-step active"><a href="{% url 'checkout' %}">2. Checkout</a></h3>
                        <h3 class="title title-step"><a href="#">3. Order Complete</a></h3>
                    </div>
                    <div class="container mt-7">



                            <div class="row">
                            {% if not user_address %}
                                <div class="col-lg-7 mb-6 mb-lg-0 check-detail">
                                    <h3 class="title text-left mt-3 mb-6">No Billing Address Found</h3>
                                    <a href="{% url 'user-dashboard' %}" class="btn btn-link btn-primary btn-underline"> your
                                                    billing address<i class="p-icon-arrow-long-right"></i></a>
                                </div>
                            {% endif %}
                            <div class="col-lg-7 mb-6 mb-lg-0 check-detail">
                                    <h3 class="title text-left mt-3 mb-6">Billing Details</h3>
                                    <h4 class="title pt-2 mb-2">Name: {{ request.user.first_name }} {{ request.user.last_name }}</h4>
                                    <h4 class="title pt-2 mb-2">Location: {{ user_address.city }}</h4>
                                    <h4 class="title pt-2 mb-2">Address: {{ user_address.address }}</h4>
                                    <h4 class="title pt-2 mb-2">Contact Number: {{ user_address.phone_number }}</h4>
                                    <a href="{% url 'user-dashboard' %}" class="btn btn-link btn-primary btn-underline">Edit your
                                                    billing address<i class="p-icon-arrow-long-right"></i></a>
                                <div class="cart-actions mb-6 pt-6">
                                    <br>
                                <a href="{{ request.META.HTTP_REFERER }}"
                                    class="btn btn-dim btn-icon-left mr-4 mb-4"><i
                                        class="p-icon-arrow-long-left"></i>Go Back</a>
                            </div>
                                </div>
                                <aside class="col-lg-5 sticky-sidebar-wrapper pl-lg-6">
                                    <div class="sticky-sidebar" data-sticky-options="{'bottom': 50}">
                                        <div class="summary pt-5">
                                        <h3 class="title">Your Order</h3>
                                            <table class="order-sidebar">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in cart_items  %}
                                                        <tr>
                                                            <td class="product-name"> {{ item.product.name }} x <span class="item-quantity">{{ item.quantity }}</span></td>
                                                            <td class="item-total text-body">${{ item.product.price }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    <tr class="summary-total">
                                                        <td>
                                                            <h4 class="summary-subtitle">Total</h4>
                                                        </td>
                                                        <td>
                                                            <p id="item-total" class="summary-total-price ls-s">$290.00</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="payment accordion radio-type pb-5">
                                                <h4 class="summary-subtitle ls-m pb-3">Payment Methods</h4>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a href="#collapse1" class="collapse">Pay Now </a>
                                                    </div>
                                                    <div id="collapse1" class="expanded" style="display: block;">
                                                        <div class="card-body">
                                                            Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                                                        </div>
                                                    </div>
                                                </div>
                                                {% comment %} <div class="card">
                                                    <div class="card-header">
                                                        <a href="#collapse2" class="expand">Cash on delivery</a>
                                                    </div>
                                                    <div id="collapse2" class="collapsed">
                                                        <div class="card-body">
                                                            Pay with cash upon delivery.
                                                        </div>
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                            <form id="paymentForm" action="" method="POST">
                                                {% csrf_token %}
                                                <input id="order-total1" type="hidden" name="order_total">
                                                <input type="hidden" id="email-address" value="{{ request.user.profile.email }}">
                                                <button  type="button" onclick="payWithPaystack();" class="btn btn-dim btn-block mt-6">Place Order</button>
                                            </form>

                                        </div>
                                    </div>
                                </aside>
                            </div>

                    </div>
                </div>
        </main>

        <script src="https://js.paystack.co/v1/inline.js"></script>
        <script src="{% static 'js/checkout.js' %}"></script>


{% endblock content %}