{% extends 'layouts/frontend.html' %}

{% load static %}

{% block content %}

 <main class="main">
            <div class="page-header" style="background-color: #f9f8f4">
                <h1 class="page-title">My Account</h1>
            </div>
            <nav class="breadcrumb-nav has-border">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="https://d-themes.com/html/panda/demo1.html">Home</a></li>
                        <li><a href="https://d-themes.com/html/panda/shop.html">Shop</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </nav>
            <div class="page-content">
                <div class="container pt-8 pb-10">
                    <div class="login-popup mx-auto pl-6 pr-6 pb-9">
                        <div class="form-box">
                            <div class="tab tab-nav-underline tab-nav-boxed">
                                <ul class="nav nav-tabs nav-fill align-items-center justify-content-center mb-4">
                                    <li class="nav-item">
                                        <a class="nav-link active lh-1 ls-normal" href="#signin-1">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#register-1" class="nav-link lh-1 ls-normal">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="signin-1">
                                        <form action="{% url 'user-login' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" id="singin-email-1" name="username"
                                                    placeholder="Username or Email Address" required>
                                                <input type="password" id="singin-password" name="passowrd"
                                                    placeholder="Password" required>
                                            </div>
                                            <div class="form-footer">
                                                <div class="form-checkbox">
                                                    <input type="checkbox" id="signin-remember-1"
                                                        name="signin-remember-1">
                                                    <label for="signin-remember-1">Remember
                                                        me</label>
                                                </div>
                                                <a href="#" class="lost-link d-block ">Lost your password?</a>
                                            </div>
                                            <button class="btn btn-dark btn-block"
                                                            type="submit">Login</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="register-1">
                                        <form action="{% url 'register' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {% for field in form %}
                                                    {{field }}

                                                    {% for error in field.errors  %}
                                                        <p style="color:red;">{{error}}</p>
                                                    {% endfor %}

                                                {% endfor %}
                                                                                                            
                                            </div>
                                            <div class="form-footer mb-5">
                                                <div class="form-checkbox">
                                                    <input type="checkbox" id="register-agree"
                                                        name="register-agree" required>
                                                    <label for="register-agree">I
                                                        agree to the
                                                        privacy policy</label>
                                                </div>
                                            </div>
                                            <button class="btn btn-dark btn-block"
                                                type="submit">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
   

{% endblock content %}