{% extends 'layouts/admin_dashboard.html' %}

{% load static %}

{% block content %}

    <!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Add Product</h1>
							<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Product</p>
						</div>
						<div>
							<a href="{% url 'view-products'  %}" class="btn btn-primary"> View All
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-header card-header-border-bottom">
									<h2>Add Product</h2>
								</div>

								<div class="card-body">
									<div class="row ec-vendor-uploads">
										<div class="col-lg-4">
											<div class="ec-vendor-img-upload">
												<div class="ec-vendor-main-img">
													<div class="avatar-upload">
														<div class="avatar-edit">
															<input type='file' id="imageUpload" class="ec-image-upload"
																accept=".png, .jpg, .jpeg" />
															<label for="imageUpload"><img
																	src="{% static 'assets/img/icons/edit.svg' %}"
																	class="svg_img header_svg" alt="edit" /></label>
														</div>
														<div class="avatar-preview ec-preview">
															<div class="imagePreview ec-div-preview">
																<img class="ec-image-preview"
																	src="{% static 'assets/img/products/vender-upload-preview.jpg' %}"
																	alt="edit" />
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="ec-vendor-upload-detail">
												<form class="row g-3" method="POST" enctype="multipart/form-data">

                                                    {% csrf_token %}
                                                    <div class="col-md-12">
                                                        {% for field in form %}
                                                            <label class="form-label">{{ field.label }} </label>

                                                            {{ field }}
                                                            
                                                            {% if filed.erros %}
                                                                {% for error in field.error %}
                                                                    <p style="color: red;">{{ error }}</p>
                                                                {% endfor %}                                                                                                                            
                                                            {% endif %}
                                                                                                                            
                                                        {% endfor %}
														
													</div>

                                                    <div class="col-md-12">
														<button type="submit" class="btn btn-primary">Submit</button>
													</div>  
																										
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->

{% endblock content %}