{% extends 'layouts/admin_dashboard.html' %}

{% load static %}

{% block content %}

    <!-- CONTENT WRAPPER -->
        <div class="ec-content-wrapper">
				<div class="content">
					<div
						class="breadcrumb-wrapper breadcrumb-wrapper-2 d-flex align-items-center justify-content-between">
						<h1>Review</h1>
						<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
							<span><i class="mdi mdi-chevron-right"></i></span>Review
						</p>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table" style="width:100%">
											<thead>
												<tr>
													<th>Product</th>
													<th>Name</th>
													<th>Profile</th>
													<th>Vendor</th>
													<th>Ratings</th>
                                                    <th>Review Text</th>
													<th>Date</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody>	
                                                {% for review in all_reviews  %}
                                                    <tr>
                                                        <td><img class="tbl-thumb" src="{{ review.product.product_picture.url }}" alt="product image"/></td>
                                                        <td>{{ review.product.name }}</td>
                                                        <td><img class="tbl-thumb" src="{% static 'assets/img/user/avatar.svg' %}" alt="product image"/></td>
                                                        <td>{{ review.user_profile.user.username }}</td>
                                                        <td>
                                                            
                                                            {% if review.rating == 20 %}
                                                                <div class="ec-t-rate">
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                </di>
                                                            {% elif review.rating == 40 %}
                                                                <div class="ec-t-rate">
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                </di>
                                                            {% elif review.rating == 60 %}
                                                                <div class="ec-t-rate">
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                </di>
                                                            {% elif review.rating == 80 %}
                                                                <div class="ec-t-rate">
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                </di>
                                                            {% elif review.rating == 100 %}
                                                                <div class="ec-t-rate">
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                    <i class="mdi mdi-star is-rated"></i>
                                                                </di>
                                                            {% else %}
                                                                <p>No review left</p>
                                                            {% endif %}
                                                                                                                           
                                                        </td>
                                                        <td>{{ review.review_text|truncatechars:50 }}</td>
                                                        <td>{{ review.review_date|timesince }}</td>
                                                        <td>
                                                            <div class="btn-group mb-1">
                                                                <a href="{% url 'delete-review' review.id %}" class="btn btn-outline-danger">
                                                                    Delete
                                                                </a>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                {% endfor %}											
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
        </div> <!-- End Content Wrapper -->

{% endblock content %}