{% load static %}


<header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#" class="call">
                            <i class="p-icon-phone-solid"></i>
                            <span>+456 789 000</span>
                        </a>
                        <span class="divider"></span>
                        <a href="#" class="contact">
                            <i class="p-icon-map"></i>
                            <span>1 address place location</span>
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="dropdown switcher">
                            <a href="#currency">USD</a>
                            <ul class="dropdown-box">
                                <li><a href="#USD">USD</a></li>
                                <li><a href="#EUR">EUR</a></li>
                            </ul>
                        </div>

                        <div class="dropdown switcher">
                            <a href="#language"><img src="{% static 'images/flagus.jpg' %}" width="14" height="10"
                                    class="mr-1" alt="flagus">ENG</a>
                            <ul class="dropdown-box">
                                <li>
                                    <a href="#USD"><img src="{% static 'images/flagus.jpg' %}" width="14" height="10"
                                            class="mr-1" alt="flagus">ENG</a>
                                </li>
                                <li>
                                    <a href="##EUR"><img src="{% static 'images/flagfr.jpg' %}" width="14" height="10"
                                            class="mr-1" alt="flagfr">FRH</a>
                                </li>
                            </ul>
                        </div>
                        <span class="divider"></span>

                        <div class="social-links">
                            <a href="#" class="social-link fab fa-facebook-f" title="Facebook"></a>
                            <a href="#" class="social-link fab fa-twitter" title="Twitter"></a>
                            <a href="#" class="social-link fab fa-pinterest" title="Pinterest"></a>
                            <a href="#" class="social-link fab fa-linkedin-in" title="Linkedin"></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="header-middle has-center sticky-header fix-top sticky-content">
                <div class="container">
                    <div class="header-left">
                        <a href="##" class="mobile-menu-toggle" title="Mobile Menu">
                            <i class="p-icon-bars-solid"></i>
                        </a>
                        <a href="/" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="logo" width="171" height="41">
                        </a>

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="{% if request.path == '/' %} active {% endif %}">
                                    <a href="/">Home</a>
                                </li>
                                <li class="{% if request.path == '/shop/' %} active {% endif %}">
                                    <a href="{% url 'shop' %}">Shop</a>
                                </li>
                                <li class="{% if request.path == '/about/' %} active {% endif %}">
                                    <a href="{% url 'about' %}">About Us</a>
                                </li>
                                <li class="{% if request.path == '/contact/' %} active {% endif %}">
                                    <a href="{% url 'contact' %}">Contact Us</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <div class="header-search hs-toggle">
                            <a class="search-toggle" href="##" title="Search">
                                <i class="p-icon-search-solid"></i>
                            </a>
                            <form action="##" class="form-simple">
                                <input type="search" autocomplete="off" placeholder="Search in..." required>
                                <button class="btn btn-search" type="submit">
                                    <i class="p-icon-search-solid"></i>
                                </button>
                            </form>
                        </div>
                        <div class=" login-dropdown off-canvas">
                            <!-- Login Condition -->
                            {% if request.user.is_authenticated %}
                                <a class="wishlist wishlist-toggle" href="{% url 'user-dashboard' %}">
                                    <span class="sr-only">Dashboard</span>
                                    <i class="p-icon-user-solid"></i>
                                </a>
                            {% else %}
                                <a class="login-toggle" href="#"data-toggle="login-modal">
                                    <span class="sr-only">Login</span>
                                    <i class="p-icon-user-solid"></i>
                                </a>
                            {% endif %}

                            <div class="canvas-overlay"></div>
                            <a href="##" class="btn-close"></a>
                            <div class="dropdown-box scrollable">
                                <div class="login-popup">
                                    <div class="form-box">
                                        <div class="tab tab-nav-underline tab-nav-boxed">
                                            <ul class="nav nav-tabs nav-fill mb-4">
                                                <li class="nav-item">
                                                    <a class="nav-link active lh-1 ls-normal"
                                                        href="#signin">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link lh-1 ls-normal"
                                                        href="#register">Register</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="signin">
                                                    <!-- login form -->
                                                    <form action="{% url 'user-login' %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <input type="text" id="singin-email" name="username"
                                                                placeholder="Username or Email Address" required>
                                                            <input type="password" id="singin-password"
                                                                name="password" placeholder="Password" required>
                                                        </div>
                                                        <div class="form-footer">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" id="signin-remember"
                                                                    name="signin-remember">
                                                                <label for="signin-remember">Remember
                                                                    me</label>
                                                            </div>
                                                            <a href="#" class="lost-link">Lost your
                                                                password?</a>
                                                        </div>
                                                        <button class="btn btn-dark btn-block"
                                                            type="submit">Login</button>
                                                    </form>
                                                    <div class="form-choice text-center">
                                                        <label>or Login With</label>
                                                        <div class="social-links social-link-active">
                                                            <a href="{% url 'social:begin' 'facebook' %}" title="Facebook"
                                                                class="social-link social-facebook fab fa-facebook-f"></a>
                                                            <a href="{% url 'social:begin' 'google-oauth2' %}" title="Twitter"
                                                                class="social-link social-twitter fab fa-twitter"></a>
                                                            <a href="##" title="Google"
                                                                class="social-link social-google fa-brands fa-google"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="register">
                                                    <!-- register form -->
                                                    <form action="{% url 'register' %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            {% for field in form %}
                                                                {{field }}

                                                                {% for error in field.errors  %}
                                                                    <p style="color:red;">{{error}}</p>
                                                                {% endfor %}

                                                            {% endfor %}
                                                        </div>
                                                        <div class="form-footer mb-5">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" id="register-agree"
                                                                    name="register-agree" required>
                                                                <label for="register-agree">I
                                                                    agree to the
                                                                    privacy policy</label>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-dark btn-block"
                                                            type="submit">Register</button>
                                                    </form>
                                                    <div class="form-choice text-center">
                                                        <label class="ls-m">or Register With</label>
                                                        <div class="social-links social-link-active">
                                                            <a href="{% url 'social:begin' 'facebook' %}" title="Facebook"
                                                                class="social-link social-facebook fab fa-facebook-f"></a>
                                                            <a href="{% url 'social:begin' 'google-oauth2' %}" title="Twitter"
                                                                class="social-link social-twitter fab fa-twitter"></a>
                                                            <a href="##" title="Linkedin"
                                                                class="social-link social-linkedin fab fa-linkedin-in"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button title="Close (Esc)" type="button" class="mfp-close"><span>×</span></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="wishlist wishlist-toggle"
                            title="Wishlist">
                            <i class="p-icon-heart-solid"></i>
                        </a>
                        <div class="dropdown cart-dropdown off-canvas mr-0 mr-lg-2">
                            <a href="##" class="cart-toggle link">

                                {% if not cart_items %}
                                    <i class="p-icon-cart-solid">
                                        <span class="cart-count">0</span>
                                    </i>
                                {% else %}
                                    <i class="p-icon-cart-solid">
                                        <span class="cart-count">{{ cart_items.count }}</span>
                                    </i>
                                {% endif %}
                            </a>
                            <div class="canvas-overlay"></div>
                            <div class="dropdown-box">
                                <div class="canvas-header">
                                    <h4 class="canvas-title">Shopping Cart</h4>
                                    <a href="##" class="btn btn-dark btn-link btn-close">close<i
                                            class="p-icon-arrow-long-right"></i><span class="sr-only">Cart</span></a>
                                </div>
                                <div class="products scrollable">

                                    {% if not cart_items %}
                                        <div class="cart-action mt-3">
                                            <a href="{% url 'shop' %}"
                                                class="btn btn-outline btn-dim mb-2">Start Shoping</a>
                                        </div>
                                    {% endif %}

                                    {% for item in cart_items %}
                                        <div class="product product-mini">
                                            <figure class="product-media">
                                                <a href="{% url 'view-product' item.product.id %}">
                                                    <img class="product-media" src="{{ item.product.product_picture.url }}" alt="product"
                                                            style="width: 64px; height: 84px;" />

                                                </a>
                                                <a href="{% url 'remove-from-cart' item.id %}" title="Remove Product" class="btn-remove">
                                                    <i class="p-icon-times"></i><span class="sr-only">Close</span>
                                                </a>
                                            </figure>
                                            <div class="product-detail">
                                                <a href="{% url 'view-product' item.product.id %}"
                                                    class="product-name">{{ item.product.name }}</a>
                                                <div class="price-box">
                                                    <span class="product-quantity">{{ item.quantity }}</span>
                                                    <span class="product-price">${{ item.product.price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% comment %} <div class="cart-total">
                                            <label>Subtotal:</label>
                                            <span class="price">$148.00</span>
                                        </div> {% endcomment %}
                                        <br>
                                        <div class="cart-action">
                                            <a href="{% url 'cart' %}"
                                                class="btn btn-outline btn-dim mb-2">View
                                                Cart</a>
                                            <a href="{% url 'checkout' %}" class="btn btn-dim"><span>Go
                                                    To Checkout</span></a>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>