{% load static %}

<header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#" class="call">
                            <i class="p-icon-phone-solid"></i>
                            <span>+456 789 000</span>
                        </a>
                        <span class="divider"></span>
                        <a href="https://d-themes.com/html/panda/contact.html" class="contact">
                            <i class="p-icon-map"></i>
                            <span>25 West 21th STREET, Miami FL, USA</span>
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="dropdown switcher">
                            <a href="demo1.html#currency">USD</a>
                            <ul class="dropdown-box">
                                <li><a href="demo1.html#USD">USD</a></li>
                                <li><a href="demo1.html#EUR">EUR</a></li>
                            </ul>
                        </div>

                        <div class="dropdown switcher">
                            <a href="demo1.html#language"><img src="{% static 'images/flagus.jpg' %}" width="14" height="10"
                                    class="mr-1" alt="flagus">ENG</a>
                            <ul class="dropdown-box">
                                <li>
                                    <a href="demo1.html#USD"><img src="{% static 'images/flagus.jpg' %}" width="14" height="10"
                                            class="mr-1" alt="flagus">ENG</a>
                                </li>
                                <li>
                                    <a href="demo1.html#EUR"><img src="{% static 'images/flagfr.jpg' %}" width="14" height="10"
                                            class="mr-1" alt="flagfr">FRH</a>
                                </li>
                            </ul>
                        </div>
                        <span class="divider"></span>

                        <div class="social-links">
                            <a href="demo1.html#" class="social-link fab fa-facebook-f" title="Facebook"></a>
                            <a href="demo1.html#" class="social-link fab fa-twitter" title="Twitter"></a>
                            <a href="demo1.html#" class="social-link fab fa-pinterest" title="Pinterest"></a>
                            <a href="demo1.html#" class="social-link fab fa-linkedin-in" title="Linkedin"></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="header-middle has-center sticky-header fix-top sticky-content">
                <div class="container">
                    <div class="header-left">
                        <a href="demo1.html#" class="mobile-menu-toggle" title="Mobile Menu">
                            <i class="p-icon-bars-solid"></i>
                        </a>
                        <a href="demo1.html" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="logo" width="171" height="41">
                        </a>

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="demo1.html">Home</a>
                                </li>
                                <li>
                                    <a href="https://d-themes.com/html/panda/shop.html">Shop</a>
                                    <div class="megamenu">
                                        <div class="row">
                                            <div class="col-6 col-sm-4">
                                                <h4 class="menu-title title-underline"><span>Shop Layouts</span>
                                                </h4>
                                                <ul>
                                                    <li><a href="https://d-themes.com/html/panda/shop-list.html">Shop
                                                            list</a></li>
                                                    <li><a href="https://d-themes.com/html/panda/shop-3-cols.html">3
                                                            Columns mode</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/shop-4-cols.html">4
                                                            Columns mode</a></li>
                                                    <li><a href="https://d-themes.com/html/panda/shop-5-cols.html">5
                                                            Columns mode</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/shop-6-cols.html">6
                                                            Columns mode</a></li>
                                                </ul>
                                                <h4 class="menu-title title-underline"><span>Shop
                                                        Variations</span></h4>
                                                <ul>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/shop-left-sidebar.html">With
                                                            left sidebar</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/shop-full-width.html">Full
                                                            width</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/shop-horizontal-filter.html">Horizontal
                                                            filter</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                                <h4 class="menu-title title-underline"><span>Product
                                                        Details</span></h4>
                                                <ul>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/product-simple.html">Default</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/product-gallery.html">Gallery</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/product-sticky.html">Sticky
                                                            info</a></li>
                                                    <li><a href="https://d-themes.com/html/panda/product-full.html">Full
                                                            width</a></li>
                                                </ul>
                                                <h4 class="menu-title title-underline"><span>Woo Subpages</span>
                                                </h4>
                                                <ul>
                                                    <li><a href="https://d-themes.com/html/panda/cart.html">Cart</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/checkout.html">Checkout</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/wishlist.html">Wishlist</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/compare.html">Compare</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6 col-sm-4 menu-banner banner banner-fixed">
                                                <figure>
                                                    <img src="{% static 'images/shop-menu.jpg' %}" alt="Menu banner" width="224"
                                                        height="425" />
                                                </figure>
                                                <div class="banner-content">
                                                    <h4 class="banner-subtitle text-body mb-2 text-uppercase">
                                                        New
                                                        Arrivals
                                                    </h4>
                                                    <h3 class="banner-title text-capitalize">Fresh
                                                        Fruits<br>collection
                                                    </h3>
                                                    <p class="banner-descri text-dim font-weight-light ls-normal mb-4">
                                                        From<span
                                                            class="text-primary font-weight-normal  pl-1">$24.00</span>
                                                    </p>
                                                    <a href="https://d-themes.com/html/panda/shop.html"
                                                        class="btn btn-outline btn-primary-dark font-weight-normal">shop
                                                        now</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="demo1.html#">Elements</a>
                                    <div class="megamenu">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h4 class="menu-title title-underline"><span>Elements 1</span>
                                                </h4>
                                                <ul>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-accordions.html">Accordion</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/element-alerts.html">Alert
                                                            & Notification</a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-banner.html">Banner
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-banner-effect.html">Banner
                                                            Effect
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-blog.html">Blog</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-button.html">Button</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/element-columns.html">Columns
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-countdown.html">Countdown</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="menu-title title-underline"><span>Elements 2</span>
                                                </h4>
                                                <ul>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-creative-grid.html">Creative
                                                            Grid</a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-counter.html">Counter
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-entrance-effect.html">Entrance
                                                            Effect
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-mouse-tracking.html">Mouse
                                                            Tracking Effect
                                                        </a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-hotspot.html">Hotspot
                                                        </a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-icon-box.html">Icon
                                                            Box</a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-icons.html">Icon
                                                            Library</a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-image-box.html">Image
                                                            box
                                                        </a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="menu-title title-underline"><span>Elements 3</span>
                                                </h4>
                                                <ul>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-image-gallery.html">Image
                                                            Gallery</a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-categories.html">Category</a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/element-products.html">Products
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-product-banner.html">Products
                                                            + Banner
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-product-tabs.html">Product
                                                            Tab
                                                        </a>
                                                    </li>
                                                    <li><a href="https://d-themes.com/html/panda/element-section.html">Section
                                                            Divider
                                                        </a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-slider.html">Slider
                                                        </a></li>
                                                    <li><a href="https://d-themes.com/html/panda/element-social.html">Social
                                                            Icons
                                                        </a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="menu-title title-underline"><span>Elements 4</span>
                                                </h4>
                                                <ul>
                                                    <li><a href="https://d-themes.com/html/panda/element-tabs.html">Tabs
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-testimonial.html">Testimonial
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-title.html">Title</a>
                                                    </li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-typography.html">Typography
                                                        </a></li>
                                                    <li><a
                                                            href="https://d-themes.com/html/panda/element-video.html">Video</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="https://d-themes.com/html/panda/blog.html">Blog</a>
                                    <ul>
                                        <li><a href="https://d-themes.com/html/panda/blog.html">Classic</a></li>
                                        <li><a href="https://d-themes.com/html/panda/blog-single.html">Single Post</a>
                                        </li>
                                        <li><a href="https://d-themes.com/html/panda/blog-2-grid.html">Grid 2
                                                Columns</a></li>
                                        <li><a href="https://d-themes.com/html/panda/blog-3-grid.html">Grid 3
                                                Columns</a></li>
                                        <li><a href="https://d-themes.com/html/panda/blog-4-grid.html">Grid 4
                                                Columns</a></li>
                                        <li><a href="https://d-themes.com/html/panda/blog-sidebar.html">Grid Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="demo1.html#">pages</a>
                                    <ul>
                                        <li><a href="https://d-themes.com/html/panda/about.html">About Us</a></li>
                                        <li><a href="https://d-themes.com/html/panda/contact.html">Contact Us</a></li>
                                        <li><a href="https://d-themes.com/html/panda/account.html">My Account</a></li>
                                        <li><a href="https://d-themes.com/html/panda/faq.html">Faqs</a></li>
                                        <li><a href="https://d-themes.com/html/panda/error.html">Error 404</a></li>
                                        <li><a href="https://d-themes.com/html/panda/coming.html">Coming Soon</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://d-themes.com/buynow/pandahtml/">buy panda!</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <div class="header-search hs-toggle">
                            <a class="search-toggle" href="demo1.html#" title="Search">
                                <i class="p-icon-search-solid"></i>
                            </a>
                            <form action="demo1.html#" class="form-simple">
                                <input type="search" autocomplete="off" placeholder="Search in..." required>
                                <button class="btn btn-search" type="submit">
                                    <i class="p-icon-search-solid"></i>
                                </button>
                            </form>
                        </div>
                        <div class="dropdown login-dropdown off-canvas">
                            <a class="login-toggle" href="https://d-themes.com/html/panda/ajax/login.html"
                                data-toggle="login-modal">
                                <span class="sr-only">login</span>
                                <i class="p-icon-user-solid"></i>
                            </a>

                            <div class="canvas-overlay"></div>
                            <a href="demo1.html#" class="btn-close"></a>
                            <div class="dropdown-box scrollable">
                                <div class="login-popup">
                                    <div class="form-box">
                                        <div class="tab tab-nav-underline tab-nav-boxed">
                                            <ul class="nav nav-tabs nav-fill mb-4">
                                                <li class="nav-item">
                                                    <a class="nav-link active lh-1 ls-normal"
                                                        href="demo1.html#signin">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link lh-1 ls-normal"
                                                        href="demo1.html#register">Register</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="signin">
                                                    <form action="demo1.html#">
                                                        <div class="form-group">
                                                            <input type="text" id="singin-email" name="singin-email"
                                                                placeholder="Username or Email Address" required>
                                                            <input type="password" id="singin-password"
                                                                name="singin-password" placeholder="Password" required>
                                                        </div>
                                                        <div class="form-footer">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" id="signin-remember"
                                                                    name="signin-remember">
                                                                <label for="signin-remember">Remember
                                                                    me</label>
                                                            </div>
                                                            <a href="demo1.html#" class="lost-link">Lost your
                                                                password?</a>
                                                        </div>
                                                        <button class="btn btn-dark btn-block"
                                                            type="submit">Login</button>
                                                    </form>
                                                    <div class="form-choice text-center">
                                                        <label>or Login With</label>
                                                        <div class="social-links social-link-active ">
                                                            <a href="demo1.html#" title="Facebook"
                                                                class="social-link social-facebook fab fa-facebook-f"></a>
                                                            <a href="demo1.html#" title="Twitter"
                                                                class="social-link social-twitter fab fa-twitter"></a>
                                                            <a href="demo1.html#" title="Linkedin"
                                                                class="social-link social-linkedin fab fa-linkedin-in"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="register">
                                                    <form action="demo1.html#">
                                                        <div class="form-group">
                                                            <input type="text" id="register-user" name="register-user"
                                                                placeholder="Username" required>
                                                            <input type="email" id="register-email"
                                                                name="register-email" placeholder="Your Email Address"
                                                                required>
                                                            <input type="password" id="register-password"
                                                                name="register-password" placeholder="Password"
                                                                required>
                                                        </div>
                                                        <div class="form-footer mb-5">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" id="register-agree"
                                                                    name="register-agree" required>
                                                                <label for="register-agree">I
                                                                    agree to the
                                                                    privacy policy</label>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-dark btn-block"
                                                            type="submit">Register</button>
                                                    </form>
                                                    <div class="form-choice text-center">
                                                        <label class="ls-m">or Register With</label>
                                                        <div class="social-links social-link-active ">
                                                            <a href="demo1.html#" title="Facebook"
                                                                class="social-link social-facebook fab fa-facebook-f"></a>
                                                            <a href="demo1.html#" title="Twitter"
                                                                class="social-link social-twitter fab fa-twitter"></a>
                                                            <a href="demo1.html#" title="Linkedin"
                                                                class="social-link social-linkedin fab fa-linkedin-in"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button title="Close (Esc)" type="button" class="mfp-close"><span>×</span></button>
                                </div>
                            </div>

                        </div>
                        <a href="https://d-themes.com/html/panda/wishlist.html" class="wishlist wishlist-toggle"
                            title="Wishlist">
                            <i class="p-icon-heart-solid"></i>
                        </a>
                        <div class="dropdown cart-dropdown off-canvas mr-0 mr-lg-2">
                            <a href="demo1.html#" class="cart-toggle link">
                                <i class="p-icon-cart-solid">
                                    <span class="cart-count">2</span>
                                </i>
                            </a>
                            <div class="canvas-overlay"></div>
                            <div class="dropdown-box">
                                <div class="canvas-header">
                                    <h4 class="canvas-title">Shopping Cart</h4>
                                    <a href="demo1.html#" class="btn btn-dark btn-link btn-close">close<i
                                            class="p-icon-arrow-long-right"></i><span class="sr-only">Cart</span></a>
                                </div>
                                <div class="products scrollable">
                                    <div class="product product-mini">
                                        <figure class="product-media">
                                            <a href="https://d-themes.com/html/panda/product-simple.html">
                                                <img src="{% static 'images/cart/product-1.jpg' %}" alt="product" width="84"
                                                    height="105" />
                                            </a>
                                            <a href="demo1.html#" title="Remove Product" class="btn-remove">
                                                <i class="p-icon-times"></i><span class="sr-only">Close</span>
                                            </a>
                                        </figure>
                                        <div class="product-detail">
                                            <a href="https://d-themes.com/html/panda/product.html"
                                                class="product-name">Peanuts</a>
                                            <div class="price-box">
                                                <span class="product-quantity">7</span>
                                                <span class="product-price">$12.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product product-mini">
                                        <figure class="product-media">
                                            <a href="https://d-themes.com/html/panda/product-simple.html">
                                                <img src="{% static 'images/cart/product-2.jpg' %}" alt="product" width="84"
                                                    height="105" />
                                            </a>
                                            <a href="demo1.html#" title="Remove Product" class="btn-remove">
                                                <i class="p-icon-times"></i><span class="sr-only">Close</span>
                                            </a>
                                        </figure>
                                        <div class="product-detail">
                                            <a href="https://d-themes.com/html/panda/product.html"
                                                class="product-name">Prime Beef</a>
                                            <div class="price-box">
                                                <span class="product-quantity">4</span>
                                                <span class="product-price">$16.00</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="cart-total">
                                    <label>Subtotal:</label>
                                    <span class="price">$148.00</span>
                                </div>

                                <div class="cart-action">
                                    <a href="https://d-themes.com/html/panda/cart.html"
                                        class="btn btn-outline btn-dim mb-2">View
                                        Cart</a>
                                    <a href="https://d-themes.com/html/panda/checkout.html" class="btn btn-dim"><span>Go
                                            To Checkout</span></a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>