{% load static %}

<div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>

        <a class="mobile-menu-close" href="demo1.html#"><i class="p-icon-times"></i></a>

        <div class="mobile-menu-container scrollable">
            <form action="demo1.html#" class="inline-form">
                <input type="search" name="search" autocomplete="off" placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="p-icon-search-solid"></i>
                </button>
            </form>

            <ul class="mobile-menu mmenu-anim">
                <li>
                    <a href="demo1.html">Home</a>
                </li>
                <li>
                    <a href="https://d-themes.com/html/panda/shop.html">Shop</a>
                    <ul>
                        <li>
                            <a href="demo1.html#">
                                Shop Layouts
                            </a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/shop-list.html">Shop list</a></li>
                                <li><a href="https://d-themes.com/html/panda/shop-3-cols.html">3 Columns mode</a>
                                </li>
                                <li><a href="https://d-themes.com/html/panda/shop-4-cols.html">4 Columns mode</a></li>
                                <li><a href="https://d-themes.com/html/panda/shop-5-cols.html">5 Columns mode</a>
                                </li>
                                <li><a href="https://d-themes.com/html/panda/shop-6-cols.html">6 Columns mode</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="demo1.html#">
                                Shop Variations
                            </a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/shop-left-sidebar.html">With left
                                        sidebar</a>
                                </li>
                                <li><a href="https://d-themes.com/html/panda/shop-full-width.html">Full width</a>
                                </li>
                                <li><a href="https://d-themes.com/html/panda/shop-horizontal-filter.html">Horizontal
                                        filter</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="demo1.html#">
                                Product Details
                            </a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/product-simple.html">Default</a></li>
                                <li><a href="https://d-themes.com/html/panda/product-gallery.html">Gallery</a></li>
                                <li><a href="https://d-themes.com/html/panda/product-sticky.html">Sticky info</a></li>
                                <li><a href="https://d-themes.com/html/panda/product-full.html">Full width</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="demo1.html#">
                                Woo Subpages
                            </a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/cart.html">Cart</a></li>
                                <li><a href="https://d-themes.com/html/panda/checkout.html">Checkout</a></li>
                                <li><a href="https://d-themes.com/html/panda/wishlist.html">Wishlist</a></li>
                                <li><a href="https://d-themes.com/html/panda/account.html">My account</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="demo1.html#">Elements</a>
                    <ul>
                        <li>
                            <a href="demo1.html#">Elements 1</a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/element-accordions.html">Accordion</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-alerts.html">Alert &
                                        Notification</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-banner.html">Banner
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-banner-effect.html">Banner Effect
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-blog.html">Blog</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-button.html">Button</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-columns.html">Columns
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-countdown.html">Countdown</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="demo1.html#">Elements 2</a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/element-creative-grid.html">Creative
                                        Grid</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-counter.html">Counter
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-entrance-effect.html">Entrance
                                        Effect
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-mouse-tracking.html">Mouse Tracking
                                        Effect
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-hotspot.html">Hotspot
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-icon-box.html">Icon Box</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-icons.html">Icon Library</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-image-box.html">Image box
                                    </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="demo1.html#">Elements 3</a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/element-image-gallery.html">Image
                                        Gallery</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-categories.html">Category</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-products.html">Products
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-product-banner.html">Products +
                                        Banner
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-product-tabs.html">Product Tab
                                    </a>
                                </li>
                                <li><a href="https://d-themes.com/html/panda/element-section.html">Section Divider
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-slider.html">Slider
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-social.html">Social Icons
                                    </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="demo1.html#">Elements 4</a>
                            <ul>
                                <li><a href="https://d-themes.com/html/panda/element-tabs.html">Tabs
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-testimonial.html">Testimonial
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-title.html">Title</a></li>
                                <li><a href="https://d-themes.com/html/panda/element-typography.html">Typography
                                    </a></li>
                                <li><a href="https://d-themes.com/html/panda/element-video.html">Video</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://d-themes.com/html/panda/blog.html">Blog</a>
                    <ul>
                        <li><a href="https://d-themes.com/html/panda/blog.html">Classic</a></li>
                        <li><a href="https://d-themes.com/html/panda/blog-single.html">Single Post</a></li>
                        <li><a href="https://d-themes.com/html/panda/blog-2-grid.html">Grid 2 Columns</a></li>
                        <li><a href="https://d-themes.com/html/panda/blog-3-grid.html">Grid 3 Columns</a></li>
                        <li><a href="https://d-themes.com/html/panda/blog-4-grid.html">Grid 4 Columns</a></li>
                        <li><a href="https://d-themes.com/html/panda/blog-sidebar.html">Grid Sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="demo1.html#">Pages</a>
                    <ul>
                        <li><a href="https://d-themes.com/html/panda/about.html">About Us</a></li>
                        <li><a href="https://d-themes.com/html/panda/contact.html">Contact Us</a></li>
                        <li><a href="https://d-themes.com/html/panda/account.html">My Account</a></li>
                        <li><a href="https://d-themes.com/html/panda/faq.html">Faqs</a></li>
                        <li><a href="https://d-themes.com/html/panda/error.html">Error 404</a></li>
                        <li><a href="https://d-themes.com/html/panda/coming.html">Coming Soon</a></li>
                    </ul>
                </li>
                <li><a href="https://d-themes.com/buynow/pandahtml/">Buy Panda!</a></li>
            </ul>

        </div>
    </div>